.flex {
    align-items: center;
    justify-content: center;
    display: flex;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

#logotype {
    text-align: center;
    width: inherit;
    height: auto;
    position: static;
    top: 20px;
    margin: 0px auto;
    max-width: 70%;
}

#logotype {
    text-align: center;
    width: inherit;
    height: auto;
    position: static;
    top: 20px;
    margin: 0px auto;
    max-width: 70%;
}

.row.header {
    background-color: #4E6754;
}

input[type=submit] {
    width: 20em;  height: 2em;
}